## PYTHON EXAMPLE CODES

In [34]:
## first python program

print("Hello, World!")

Hello, World!

In [35]:
## sum of 2 numbers

a=7
b=0
c=a+b
print(c,"thala for a reason")

7 thala for a reason

In [36]:
##sum of number

a=7 
b=18
c=45
d=a+b+c
print(d)

70

## TYPE CONVERSIONS

In [37]:
## type conversion(system will automatically convert the type of the variable)

a=7
b=0.5
c=a+b
print(type(c))
print(c)

<class 'float'>
7.5

In [38]:
##type conversion(manually convert the type of the variable)

a=7
print(float(a))

7.0

In [39]:
##examples for type conversion

a=5
b=2.0
c=a+b
print (int(5.7))

5

In [40]:
## examples for type conversion 2

str_a='3.14'
print(float(a))

5.0

In [41]:
## examples for type conversion 3

a=42
print(str(a))

42

In [42]:
## examples for type conversion 4

int_a=1
int_b=0
print(bool(a))
print(bool(b))

True
True

## ORD AND CHAR (ASCII FUNCTION)

In [43]:
##ord() and chr() functions first example

char_a= 'A'
char_b= 'B'
ascii_a= ord(char_a)
print(ascii_a)

65

In [44]:
##ord() and chr() functions second example

int_a= 65
ascii_a= chr(int_a)
print(ascii_a)

A

In [45]:
##ord() and chr() functions third example
char_a= 'A'
char_b= 'B'
ascii_a= ord(char_a)
ascii_b= ord(char_b)
print(ascii_a)
print(ascii_b)

65
66

In [46]:
##ord() and chr() functions fourth example
int_b= 66
ascii_b= chr(int_b)
print(ascii_b)

B

## operators 
## (1) arthimetic opertors

In [47]:
# addition of two numbers
a=5
b=10
c=a+b
print(c)

15

In [48]:
#subtraction of two numbers
a=20
b=5
c=a-b
print(c)

15

In [49]:
#multiplication of two numbers
a=3
b=5
c=a*b
print(c)

15

In [50]:
#division of two numbers
a=45
b=3
c=a/b
print(c)

15.0

In [51]:
#floor division of two numbers (will give the quotient without decimal)
a=45
b=3
c=a//b
print(c)

15

In [52]:
#modulus of two numbers (remainder)
a=45
b=3
c=a%b
print(c)

0

In [53]:
#exponential of two numbers (power)
a=2
b=3
c=a**b
print(c)

8

In [54]:
#ceil() function (example)
import math
a=3.14
b=math.ceil(a)
print(b)

4

## Assignment order

In [55]:
#add and assign operator
a=5
b=10
a+=b  #a=a+b
print(a)

15

In [56]:
#add and assign operator example 2
a=5
b=4
a= a+b  #a=5+4=9
print(a)

9

In [57]:
#sub and assign operator
a=10
b=5
a-=b  #a=a-b
print(a)

5

In [58]:
#sub and assign operator example 2
a=8
b=2
a=a-b  #a-=b
print(a)

6

In [59]:
#multiply and assign operator
a=5
b=10
a*=b  #a=a*b
print(a)

50

In [60]:
#divide and assign operator
a=10
b=5
a/=b  #a=a/b
print(a)

2.0

In [61]:
#floor division and assign operator
a=10
b=5
a//=b  #a=a//b
print(a)

2

In [62]:
#modulus and assign operator
a=45
b=3
a%=b     #a=a%b
print(a)

0

In [63]:
#exponential and assign operator
a=2
b=3
a**=b   #a=a**b
print(a)

8

## COMPARISION OPERATORS

In [65]:
#comparison operators
#equal to operator
a=5
b=5
c=a==b
print(c)

True